/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * politica:
 *   - http://typekit.com/eulas/00000000000000007735b1a7
 *   - http://typekit.com/eulas/00000000000000007735b1aa
 *   - http://typekit.com/eulas/00000000000000007735b1ad
 *   - http://typekit.com/eulas/00000000000000007735b1b0
 *   - http://typekit.com/eulas/00000000000000007735b1b3
 *   - http://typekit.com/eulas/00000000000000007735b1b6
 *   - http://typekit.com/eulas/00000000000000007735b1b8
 *   - http://typekit.com/eulas/00000000000000007735b1bb
 * politica-condensed:
 *   - http://typekit.com/eulas/00000000000000007735b1a8
 *   - http://typekit.com/eulas/00000000000000007735b1ab
 *   - http://typekit.com/eulas/00000000000000007735b1ae
 *   - http://typekit.com/eulas/00000000000000007735b1b1
 * politica-expanded:
 *   - http://typekit.com/eulas/00000000000000007735b1a9
 *   - http://typekit.com/eulas/00000000000000007735b1ac
 *   - http://typekit.com/eulas/00000000000000007735b1af
 *   - http://typekit.com/eulas/00000000000000007735b1b2
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-01-17 13:36:30 UTC"}*/

@import url("../p.typekit.net/p3ebc.css?s=1&amp;k=mma6tmo&amp;ht=tk&amp;f=29313.29314.29315.29316.29317.29318.29319.29320.29325.29326.29327.29328.29337.29338.29339.29340&amp;a=80086262&amp;app=typekit&amp;e=css");

@font-face {
font-family:"politica";
src:url("af/6432a9/00000000000000007735b1a7/30/lfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/6432a9/00000000000000007735b1a7/30/dfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/6432a9/00000000000000007735b1a7/30/afdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/9ef300/00000000000000007735b1aa/30/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/9ef300/00000000000000007735b1aa/30/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/9ef300/00000000000000007735b1aa/30/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/2af45c/00000000000000007735b1ad/30/le265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff2"),url("af/2af45c/00000000000000007735b1ad/30/de265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff"),url("af/2af45c/00000000000000007735b1ad/30/ae265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/118347/00000000000000007735b1b0/30/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/118347/00000000000000007735b1b0/30/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/118347/00000000000000007735b1b0/30/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/638e19/00000000000000007735b1b3/30/l3b11?subset_id=2&amp;fvd=i8&amp;v=3") format("woff2"),url("af/638e19/00000000000000007735b1b3/30/d3b11?subset_id=2&amp;fvd=i8&amp;v=3") format("woff"),url("af/638e19/00000000000000007735b1b3/30/a3b11?subset_id=2&amp;fvd=i8&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/7ab847/00000000000000007735b1b6/30/l9622?subset_id=2&amp;fvd=n8&amp;v=3") format("woff2"),url("af/7ab847/00000000000000007735b1b6/30/d9622?subset_id=2&amp;fvd=n8&amp;v=3") format("woff"),url("af/7ab847/00000000000000007735b1b6/30/a9622?subset_id=2&amp;fvd=n8&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/ab241b/00000000000000007735b1b8/30/l7f68?subset_id=2&amp;fvd=i9&amp;v=3") format("woff2"),url("af/ab241b/00000000000000007735b1b8/30/d7f68?subset_id=2&amp;fvd=i9&amp;v=3") format("woff"),url("af/ab241b/00000000000000007735b1b8/30/a7f68?subset_id=2&amp;fvd=i9&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"politica";
src:url("af/051162/00000000000000007735b1bb/30/lec9a?subset_id=2&amp;fvd=n9&amp;v=3") format("woff2"),url("af/051162/00000000000000007735b1bb/30/dec9a?subset_id=2&amp;fvd=n9&amp;v=3") format("woff"),url("af/051162/00000000000000007735b1bb/30/aec9a?subset_id=2&amp;fvd=n9&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"politica-condensed";
src:url("af/391c30/00000000000000007735b1a8/30/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/391c30/00000000000000007735b1a8/30/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/391c30/00000000000000007735b1a8/30/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"politica-condensed";
src:url("af/14d125/00000000000000007735b1ab/30/lfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/14d125/00000000000000007735b1ab/30/dfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/14d125/00000000000000007735b1ab/30/afdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"politica-condensed";
src:url("af/fae627/00000000000000007735b1ae/30/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/fae627/00000000000000007735b1ae/30/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/fae627/00000000000000007735b1ae/30/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"politica-condensed";
src:url("af/750d19/00000000000000007735b1b1/30/le265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff2"),url("af/750d19/00000000000000007735b1b1/30/de265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff"),url("af/750d19/00000000000000007735b1b1/30/ae265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"politica-expanded";
src:url("af/42eedb/00000000000000007735b1a9/30/lfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/42eedb/00000000000000007735b1a9/30/dfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/42eedb/00000000000000007735b1a9/30/afdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"politica-expanded";
src:url("af/9fdd66/00000000000000007735b1ac/30/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/9fdd66/00000000000000007735b1ac/30/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/9fdd66/00000000000000007735b1ac/30/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"politica-expanded";
src:url("af/63d18b/00000000000000007735b1af/30/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/63d18b/00000000000000007735b1af/30/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/63d18b/00000000000000007735b1af/30/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"politica-expanded";
src:url("af/30e927/00000000000000007735b1b2/30/le265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff2"),url("af/30e927/00000000000000007735b1b2/30/de265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff"),url("af/30e927/00000000000000007735b1b2/30/ae265?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

.tk-politica { font-family: "politica",sans-serif; }
.tk-politica-condensed { font-family: "politica-condensed",sans-serif; }
.tk-politica-expanded { font-family: "politica-expanded",sans-serif; }
